.block-item-enter-active
  transition: all .3s ease

.block-item-leave-active
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1)

.block-item-enter, .block-item-leave-to
  transform: scale(.5)
  opacity: 0

.chat-item-enter-active
  transition: all .3s ease
  transform-origin: left

.chat-item-enter
  transform-origin: left
  transform: translateX(-1rem) scale(.8)
  opacity: 0
