.block-item-enter-active
  transition: all .3s ease

.block-item-leave-active
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1)

.block-item-enter, .block-item-leave-to
  transform: scale(.5)
  // transform: scale(.2) skew(45deg)
  opacity: 0

.chat-item-enter-active
  transition: all .3s ease
  transform-origin: left

.chat-item-enter
  transform-origin: left
  transform: translateX(-1rem) scale(0)
  opacity: 0

@keyframes about-text
  from
    opacity: 0
    transform: translateX(-5rem)
  to
    transform: 0

@function long-shadow($color, $number)
  $val: 0px 0px $color
  @for $i from 1 through $number
    $val: #{$val}, -#{$i * .5}px -#{$i * .5}px 0 $color

  @return $val

@keyframes author-name-text
  0%
    opacity: 0
    transform: translate(-4.5rem, -.5rem)
    text-shadow: 0 0
  60%
    opacity: 1
    transform: translate(-.5rem, -.5rem)
    text-shadow: 0 0
  70%
    opacity: 1
    transform: translate(-.5rem, -.5rem)
    text-shadow: 0 0
  100%
    opacity: 1
    transform: none
    text-shadow: long-shadow(#f2cd5d, 8)

@keyframes down-to-up
  from
    opacity: 0
    transform: translateY(5rem)
  to
    transform: 0

@keyframes flash
  from
    opacity: .5

  to
    opacity: 1

.down-to-up
  animation: down-to-up .4s ease
  animation-fill-mode: backwards

.flash
  animation: flash .5s
  animation-direction: alternate-reverse
  animation-iteration-count: infinite

.show-up
  animation: down-to-up .4s ease
  animation-fill-mode: backwards

.show-up-enter-active
  transition: all .7s cubic-bezier(1, 0.8, 0.3, 1) 0s

.show-up-enter
  transform: scale(.7)
  // filter: blur(3px)
  opacity: 0

.full-loader-leave-active
  transition: all .7s ease

.full-loader-leave-to
  // transform: translateY(-100%)
  opacity: 0
