*
  box-sizing: border-box
  color: #1e1e1e

body
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)

$circle-color: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
$cross-color: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

#app
  display: flex
  width: 100%
  height: 100vh
  justify-content: center
  align-items: center
  flex-direction: column

h1
  font-weight: 900
  font-size: 5rem
  margin-bottom: 1rem
  small
    font-size: 1.5rem

#config, #status, #board
  margin-bottom: 1rem

#config
  font-size: 1.5rem
  a
    display: inline-block
    color: #333
    font-weight: bold
    text-decoration: none
    margin: 0 .5rem
    background-clip: text
    color: transparent
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)
    transition: transform .3s
    &.active
      transform: scale(1.5) rotateY(180deg)

      &.circle
        background-image: $circle-color
      &.cross
        background-image: $cross-color

#loading
  i
    color: #666

#status
  div, i
    color: #666
  .disabled
    font-style: italic
  .enabled, .anyone
    color: #333
    font-weight: bold
  .interval
    font-size: .8rem
    margin-left: .5rem
#board
  display: flex
  flex-direction: column
  &.waiting
    opacity: .5
  .row
    display: flex
    flex-direction: row
    .block
      overflow: hidden
      display: flex
      justify-content: center
      align-items: center
      width: 5rem
      height: 5rem
      border: 1px solid rgba(#333, .1)
      transition: all .2s
      font-size: 3rem
      font-weight: bold
      span
        background-clip: text
        color: transparent
        &.circle
          background-image: $circle-color
        &.cross
          background-image: $cross-color
      &:hover
        border: 1px solid rgba(#333, .3)
      &.previous
        background-color: rgba(#555, .05)
