$circle-color: linear-gradient(to right, #4facfe 0%, #00f2fe 100%)
$cross-color: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%)
$rainbow: linear-gradient(to right, #E5527A 0%, #E5527A 16.66%, #ED9C5B 16.67%, #ED9C5B 33.33%, #F0E554 33.34%, #F0E554 50%, #7BB875 50.01%, #7BB875 66.66%,  #6EA2D3 66.67%, #6EA2D3 83.33%, #987BB3 83.34%, #987BB3 100%)
$background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
$time-function: cubic-bezier(1, 0.8, 0.3, 1)

*
  box-sizing: border-box
  color: #1e1e1e

html, body
  background-image: $background

[v-cloak]
  display: none

#app
  display: flex
  min-height: 100vh
  justify-content: center
  align-items: center
  flex-direction: column
  main
    width: 100%
  .row
    justify-content: center
    align-items: center

#logo
  margin: 1rem 0
  h1, h2
    text-align: center

  h1
    font-weight: 900
    font-size: 5rem
    margin-bottom: 0rem
    cursor: pointer
  h2
    display: inline-block
    font-weight: 500
    font-size: 1.5rem
    padding: .2rem .5rem
    transform: translateY(-.2rem) skewX(20deg)
    background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%)
    color: rgba(white, .95)
    b
      font-weight: bold
      color: white

#config, #status, #board
  margin-bottom: .5rem

#config
  font-size: 1.5rem
  a
    display: inline-block
    color: #333
    font-weight: bold
    text-decoration: none
    margin: 0 .5rem
    background-clip: text
    color: transparent
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)
    transition: transform .6s
    &.active
      transform: scale(1.5) rotateY(360deg)

      &.circle
        background-image: $circle-color
      &.cross
        background-image: $cross-color

#loading
  margin-top: 2rem
  i
    color: #666

#status
  letter-spacing: .1rem
  margin-bottom: 1rem
  div, i
    color: #666
  .disabled
    font-style: italic
  .enabled, .anyone
    color: #333
    font-weight: bold
  .interval
    font-size: .8rem
    margin-left: .5rem
    padding: .1rem .25rem
    border-radius: 5px
    background-image: linear-gradient(100deg, rgba(#434343, .6) 0%, rgba(black, .7) 100%)
    &, i
      color: #fff

#board
  display: flex
  flex-direction: column
  &.waiting
    opacity: .9
  &.disabled, &.waiting
    .row .block:hover
      border: 1px solid rgba(#333, .1)
      cursor: auto
      transform: none

  .row
    display: flex
    flex-direction: row
    .block
      position: relative
      overflow: visible
      display: flex
      justify-content: center
      align-items: center
      width: 5rem
      height: 5rem
      border: 1px solid rgba(#333, .1)
      transition: all .2s
      font-size: 3rem
      font-weight: bold
      span
        background-clip: text
        color: transparent
        &.circle
          background-image: $circle-color
        &.cross
          background-image: $cross-color

      &:hover
        border: 1px solid rgba(#333, .3)
        cursor: pointer
        transform: scale(1.05)
      &.previous
        background-color: rgba(#555, .05)

  $line-length: 16rem
  $line-slash-offset: 6.5rem

  .line
    z-index: 9999
    height: .6rem
    width: .6rem
    border-radius: 100rem
    background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%)
    opacity: .7
    position: absolute
    transition: width 1s $time-function, height 1s $time-function
    &.h  // 橫
      width: $line-length
    &.v  // 直
      height: $line-length
    &.s  // 斜線
      height: $line-length + $line-slash-offset
      transform: rotateZ(-45deg)
    &.bs  // 反斜線
      height: $line-length + $line-slash-offset
      transform: rotateZ(45deg)
    &.hidden
      opacity: 0

#chat
  text-align: left
  font-size: .8rem
  padding: 1rem
  letter-spacing: .05rem
  transition: border .3s
  border: 1px solid rgba(#fad0c4, 0)
  margin: 1rem 0

  &:hover
    border: 1px solid rgba(#fad0c4, .8)
  ul
    height: 12rem
    overflow-y: scroll
    overflow-x: auto
    li
      margin-bottom: .4rem
    .info
      font-style: italic
      font-weight: bold
      color: transparent
      background-clip: text
      background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%)
    .content
      display: inline-block

  .input-area
    display: flex
    align-items: center
    .icon
      margin-right: .5rem
      i
        color: #666
        color: transparent
        background-clip: text
        background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%)
    input
      border: 0
      width: 100%
      background-image: linear-gradient(165deg, #fdfbfb 50%, #ebedee 100%)
      letter-spacing: .05rem
      padding: 0 .5rem
      &::placeholder
        font-style: italic
        color: rgba(black, .3)
      &:focus
        // border: 1px solid #fcb69f

footer
  position: fixed
  bottom: 1rem
  right: 1rem
  i, a
    text-decoration: none
    font-weight: 900
    cursor: pointer
    color: #999

.close-btn
  display: inline-block
  margin-top: 1rem
  font-size: 3rem
  cursor: pointer
  font-weight: 100
  color: rgba(black, .5)
  animation: down-to-up .4s ease 1.3s
  animation-fill-mode: backwards
  &:hover
    color: rgba(black, .8)

#about
  .row
    justify-content: center
    align-items: center
    .col-12
      text-align: center
  a
    margin: 0 .25rem
    i
      color: rgba(black, .6)
      &:hover
        color: rgba(black, .8)

  h2
    font-weight: 100
    font-size: 1.8rem
    animation: about-text .4s ease .2s
    animation-fill-mode: backwards
  h3
    font-weight: bold
    font-size: 1.5rem
    font-style: italic
    padding-left: 2rem
    margin-bottom: 1.5rem
    animation: author-name-text .6s ease .4s
    animation-fill-mode: forwards
    opacity: 0

  .content
    h2:nth-child(1)
      animation-delay: .2s
    h3:nth-child(2)
      animation-delay: .3s
    h2:nth-child(3)
      animation-delay: .4s
    h3:nth-child(4)
      animation-delay: .5s

  .link
    margin-top: 1.2rem
    animation: down-to-up .4s ease 1.1s
    animation-fill-mode: backwards

#info
  letter-spacing: .1rem
  .content
    margin-top: 1rem
    p
      text-align: center
      &.bold
        font-weight: bold
      &.muted
        opacity: .4
  b
    font-weight: bold
  .row
    justify-content: center
    align-items: center
    .col-12
      text-align: center

span.type
  background-clip: text
  color: transparent
  font-weight: bold
  &.circle
    background-image: $circle-color
  &.cross
    background-image: $cross-color


#full-loader
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  z-index: 100
  background-image: $background
  top: 0
  left: 0
  height: 100%
  width: 100%
  .ooxx
    width: 3rem
    height: 3rem
    overflow: hidden
    margin-top: 1rem
    position: relative
    opacity: .5
    .box
      position: absolute
      top: 0
      left: 0
      animation: full-loader-ooxx 100s linear
      animation-iteration-count: infinite

    span
      font-weight: 900
      margin-right: .25rem

#cat
  .text
    position: absolute
    top: 50%
  img
    border-radius: 5px
